<!DOCTYPE html>
<html lang = "en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    {% load static %}
    <link rel="stylesheet" href="{% static '' %}">   
    <title>TV Show</title>
</head>
<body>
<h1>TV Show {{ this_show.id }} </h1> <a href= "http://localhost:8000/shows">Go back</a>
    <p>Title: {{ this_show.title }}</p>
    <p>Network: {{ this_show.network }}</p>
    <p>Release Date: {{ this_show.release_date }}</p>
    <p>Description: {{ this_show.description }}</p>
    <br><br><br>
    <p>Last Updated: {{ this_show.updated_at }}</p>
    <a href="http://localhost:8000/shows/{{ this_show.id }}/edit">Edit</a>
    <a href="http://localhost:8000/shows/{{ this_show.id }}/destroy">Delete</a>
</body>
</html> 